name: Auto Create Branch on Issue

on:
  issues:
    types: [opened, assigned] # Se déclenche quand un ticket est créé ou assigné

jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
